.bullet{
    display:inline-block;
    width:2em;
    height:2em;
    text-align:center;
    overflow:hidden;
    line-height:2em;
    background-color:$default-color;
    color:white;
    border-radius:50%;
    font-weight:400;
    padding:0 !important;
    
    &.info{
        background-color:$info-color;
    }
    
    &.success{
        background-color:$success-color;
    }
    
    &.caution{
        background-color:$caution-color;
    }
    
    &.warning{
        background-color:$warning-color;
    }
    
    &.danger{
        background-color:$danger-color;
    }
    
    &.white{
        background-color:$white-color;
        color:$black-bg-color;
    }
    
    &.black{
        background-color:$black-bg-color;
    }
    
    &.shadow{
        @include x-platform-prefix(box-shadow, 0 2px 2px rgba(0,0,0,0.4));
    }
}

.border-default{
    border:2px solid $default-color;
}

.border-info{
    border:2px solid $info-color;
}

.border-success{
    border:2px solid $success-color;
}

.border-caution{
    border:2px solid $caution-color;
}

.border-warning{
    border:2px solid $warning-color;
}

.border-danger{
    border:2px solid $danger-color;
}

.border-white{
    border:2px solid $white-color;
}

.border-black{
    border:2px solid $black-bg-color;
}

.tag, .label{
    font-size:0.75em;
    padding:0.1em 1em;
    display:inline-block;
    background-color:$default-color;
    font-weight:500;
    color:white !important;
    
    &.info{
        background-color:$info-color;
    }
    
    &.success{
        background-color:$success-color;
    }
    
    &.caution{
        background-color:$caution-color;
    }
    
    &.warning{
        background-color:$warning-color;
    }
    
    &.danger{
        background-color:$danger-color;
    }
    
    &.white{
        background-color:$white-color;
        color:$black-bg-color !important;
    }
    
    &.black{
        background-color:$black-bg-color;
    }
}

.tag{
    border-radius:$default-radius;
}

.label{
    border-radius:2em;
}

.prettyprint .tag{
    border:none;
    background-color:transparent;
}


[class*="icon-"]{
    
    @extend .icon;

    padding:$baseline/3;
    
    &.circle{
        border:$baseline/10 solid;
        @include circle;
    }

    &.rounded{
        border:$baseline/10 solid;
        @include rounded-border;
    }

    &.square{
        border:$baseline/10 solid;
    }

}