header + *{
    margin-top:5em !important;
}

header{
    background-color:#f5f5f5;
    border-bottom:1px solid #eee;
    padding:0.5em 1em;
    border-radius:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    font-size:1.2em;

    h1,h2,h3,h4,h5{
        display:inline-block;
        font-size:1em;
        font-weight:500;
    }

    .logo{
        display:inline-block;
        position:absolute;
        bottom:0;
        margin:0 auto;

        &.profile{
            position:absolute;   
            border:3px solid #39c;
            bottom:-40px;
            width:80px;
            height:80px;
            left:50%;
            margin-left:-40px;
        }
    }
}

@media (max-width: 768px) {

    header{
        padding:0.5em;
    }

}

@media (max-width: 480px) {

}

header{

    nav{
        position:fixed;
        left:0;
        top:0;
        display:none;
        height:100%;
        width:280px;
        z-index:10;
        text-align:left;
        border-right:1px solid #eee;
        background-color:#f5f5f5;
        color:#454545;
        
        .dissmiss{
            width:1.5em;
            height:2em;
            text-align:center;
            line-height:2em;
            display:inline-block;
            font-size:1.5em;
            margin:0;
            cursor:pointer;
            margin-right:0.2em;
            
            &:hover{
                color:rgba(255,255,255,0.8);
                background-color:$danger-color;
            }
        }

        a{
            color:#454545;
            
            &:visited{
                color:#454545;
            }
            
            &:hover, &:visited:hover{
                color:#666;
            }
        }

        &.shadow{
            box-shadow:0 1px 10px 5px rgba(0,0,0,0.3);
        }

        &.visible{

            display:block;


            &.dark{
                background-color:#454545;
                color:#f5f5f5;
            }

            & + .opacity-bg{
                position:fixed;
                top:0;
                left:0;
                display:block;
                background-color:rgba(255, 255, 255, 0.6);
                z-index:9;
                width:100%;
                height:100%;
            }
        }

        nav.flat{

        }

        ul{
            list-style:none;
            margin:0;
            
            li{
                margin-bottom:0;
                border-bottom:1px solid #ededed;
                
                a{
                    padding:0.2em 0.5em;
                    display:inline-block;
                    width:100%;
                    
                    &:hover,&:hover:visited{
                        background-color:$info-color;
                        color:#fff;
                    }
                    
                    [class*="icon-"]{
                        text-align:center;
                        width:2.3em;
                        margin-left:-0.4em;
                    }
                }
            }
        }

        .header{
            line-height:2.2em;
            /*background-color:#fbfbfb;*/
            top:0;
            left:0;
            width:100%;
            border-bottom:1px solid #eee;
        }
    }
}


[data-toggle]{
    cursor:pointer;
}


/*

nav{
    background-color:$black-bg-color;
    color:$default-color;
    
    ul{
        list-style:none;
        padding:0;
        margin:0;
    }
    
    li{
        padding:0.5em 1em;
        
        a, a:visited{
            color:$white-color;
            
            &:hover{
                color:$white-color;
            }
        }
        
        &:hover{
            background-color:$success-color;
        }
    }
}
*/
/*
.navbar{
    border-bottom:1px solid $black-bg-color;
    padding:0 $baseline/2;
    height:$baseline*1.6;
    line-height:$baseline*1.6;
    width:100%;
    color:$black-bg-color;
    font-size:1.2em;


    a{
        font-weight:lighter;
        color:$black-bg-color;

        &:hover{
            color:active($black-bg-color);
        }
    }

    &.black{
        border-bottom:none;
        background-color:$black-bg-transparent;
        color:$white-color;

        a{
            color:$white-color;

            &:hover{
                color:hover($white-color);
            }
        }
    }

    &.white{
        border-bottom:none;
        background-color:$white-bg-transparent;
        color:$black-bg-color;

        a{
            color:$black-bg-color;

            &:hover{
                color:active($black-bg-color);
            }
        }
    }



    .logo{
        margin-right:$baseline;

        small{
            font-size:0.6em;
        }

        img{
            display:inline-block;
            height:$baseline*1.6;
            vertical-align:middle;
        }
    }

    &.top-fixed{
        position:absolute;
        top:0;
        left:0;
    }

    ul{
        list-style:none;
        display:inline-block;
        margin:0;

        li{
            position:relative;
            display:inline-block;
            margin-right:$baseline/2;

            ul{
                position:absolute;
                display:none;
                z-index:3;
                li{
                    color:$black-bg-color;
                    width:10em;
                    padding:$baseline/2;
                    line-height:1;
                    display: block;
                    background-color:$white-bg-transparent;
                    
                    &:hover{
                        border-bottom:0;
                        border-left:2px solid $menu-active-border;
                    }
                }
            }

            &:hover{
                border-bottom:2px solid $menu-active-border;
                transition: all 0.1s ease-in-out 0s;

                ul{
                    display:block;
                }
            }
        }
    }
}
*/
