$num-cols:12;
$stuffing:1em;

$text-color:#000;
$link-color:#00a9db;
$hr-color:lighten($text-color, 30%);
$muted-color:lighten($text-color, 40%);

$baseline: 1.5em;

$font-family:'Open Sans', Helvetica, Arial, sans-serif;
$code-font-family:monospace,serif;

$h1-size:3.998em;
$h2-size:2.827em;
$h3-size:1.999em;
$h4-size:1.414em;
$h5-size:1em;
$h6-size:1em;

$alert-border-size:5px;

$default-color:#aaa;
$info-color:#00a9db;
$success-color:#693;
$caution-color:#fb3;
$warning-color:#f80;
$danger-color:#c30;
$error-color:$danger-color;
$white-color:#fff;

$warning-forms-color:#FFAB50;

$default-bg-color:#f5f5f5;
$info-bg-color:#b3e5f4;
$success-bg-color:#dff0d8;
$caution-bg-color:#fcf8e3;
$warning-bg-color:#ffe2ca;
$danger-bg-color:#f2dede;
$error-bg-color:$danger-bg-color;
$black-bg-color:#333;


$fa-css-prefix:icon;

$input-box-shadow-color:rgba(0,0,0,0.6);
$field-border-default:#aaa;
$default-radius:2px;
$placeholder-color:#f5f5f5;

$black-bg-transparent:rgba(0,0,0,0.6);
$white-bg-transparent:rgba(255,255,255,0.6);

$menu-active-border:#234234;
$selection-color:#f93;
$default-blur:3;
$default-round:2px;
